<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&family=Roboto&display=swap" 
    rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="stylesheet" href="/css/normalize.css"> 

    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles-responsive.css">
</head>
<body>
<header>
    <div class="top-header">
        <h1 class="logo"><img src = '/images/logo-mercado-liebre.svg' alt="Logo Mercado Liebre"></h1>
            <form action="/" method="GET" class="search-bar"> 
                <div>
                    <label><input type="text" name="search" placeholder="Buscar productos, marcas"> </label>
                </div>
            </form>                 
                 
        <div class="compra-en-ctas"> <i class="fas fa-hand-holding-usd"></i> 
            Comprá en cuotas y sin tarjeta de crédito </div>
    </div>
    <nav> 
        <ul class="nav-bar">
            <a href="#Ofertas"><li> Ofertas</li> </a>
            <a href="#TiendasOficiales"><li>Tiendas Oficiales</li> </a>
            <a href="#Vender"> <li>Vender</li> </a>    
            <a href="#Ayuda"><li>Ayuda</li> </a> 
        </ul>
        <ul class="login-bar">
            <a href="/register"><li>Creá tu cuenta <i class="far fa-id-card"></i></li> </a>
            <a href="/login"> <li>Ingresá <i class="fas fa-sign-out-alt"></i></li> </a>
            <a href="#MisCompras"> <li>Mis compras <i class="fas fa-shopping-basket"></i></li> </a>
        </ul>
    </nav>
    <div class="burger-menu"  >
        <i class="fas fa-bars"></i>
    </div>
    </header>
<img src="/images/img-home-banner.jpg" alt="Banner promociones" class="banner" >

<main> 
    <section>
       <h2>Basado en tu última visita </h2> 
       <article class="product">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" >
            <div class="product-box ">
                <i class="fas fa-truck"></i>
                <p class="price">$6.770</p>
                <p class="discount">40% OFF </p>
                <h3 class="product-title">Cafetera Moulinex</h3>   
            </div>
        </article>
        <article class="product">
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook 2009">
            <div class="product-box "> 
                <i class="fas fa-truck"></i>
                <p class="price">$230.000</p>
                <p class="discount">20% OFF</p>
                <h3 class="product-title">MacBook Pro 2019</h3>    
            </div>    
        </article>
        <article class="product">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
            <div class="product-box ">
                <i class="fas fa-truck"></i>
                <p class="price">$70.500</p>
                <p class="discount">10% OFF</p>
                <h3 class="product-title">Samsung Galaxy S10 </h3>    
            </div>       
        </article>
        <article class="product">
            <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
            <div class="product-box ">
                <i class="fas fa-truck"></i>
                <p class="price">$23.200 </p>
                <p class="discount">5% OFF </p>
                <h3 class="product-title">SmartTv Samsung 43" </h3>    
            </div>
        </article>
        </section>
        <section>
            <h2> Sección de ofertas </h2>
            <article class="product" >
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-box ">
                    <i class="fas fa-truck"></i>
                    <p class="price"> $6.770</p>
                    <p class="discount">40% OFF </p>
                    <h3 class="product-title">Cafetera Moulinex</h3>   
                </div>
            </article>
            <article class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook 2009">
                <div class="product-box "> 
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <h3 class="product-title">MacBook Pro 2019</h3>    
                </div>    
            </article>
            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" >
                <div class="product-box ">
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <h3 class="product-title">Samsung Galaxy S10 </h3>    
                </div>       
            </article>
            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                <div class="product-box ">
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200 </p>
                    <p class="discount">5% OFF </p>
                    <h3 class="product-title">SmartTv Samsung 43" </h3>    
                </div>
            </article>
    </main>

    <footer> 
        <section> 
            <div class="footer-icon"> <i class="fas fa-credit-card"></i> 
            </div>
            <div> <h3>Pagá con tarjeta o en efectivo</h3>            
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </section>
        <section>
            <div class="footer-icon"><i class="fas fa-gift"></i> 
            </div>
            <div>
            <h3> Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. 
                Es un beneficio de Mercado Puntos. </p>    
            </div>
        </section>
        <section>
            <div class="footer-icon"><i class="fas fa-user-shield"></i>
            </div>
            <div>
            <h3>Seguridad, de principio a fin</h3>            
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                 siempre protegid@. </p>                
            </div>
        </section>
        <section class="copyright"> <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>