* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}
body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
    margin-top: 108px;
}

header {
    background-color: #EAC926;
    position: fixed;
    top: 0 ;
    width: 100%;
    z-index: 10;
}

/*TOP HEADER INCLUYE LOGO + SEARCH BAR + COMPRA EN CTAS*/
.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    width: 50%;
    margin: 2px auto ;
}
.search-bar{
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    position: relative;
}
.compra-en-ctas{
    font-size: 16px;
    margin:  auto;
    max-width: max-content;
} 

/*NAV INCLUYE BARRA DE NAVEGACION DEL SITIO O NAV-BAR Y LOGIN-BAR*/
nav{
    display: none;
}
header li {
    list-style: none;
    color: black;
    margin: 4px;
    text-align: center;
}
header input {
    border: none;
    padding: 4px 20px;
    border-radius: 5px;
    width: 80%;
    position: absolute;
}

.burger-menu{
    text-align: center;
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 15%;
    line-height: 2em;
    background-color: #1259c3;
    margin: 5px auto;
}

.banner {
    width: 100%;
}


main {
    width: 90vw;
    margin: auto;
    color: #666;
}

/*TITULOS DE LAS DOS SECCIONES*/
main h2{
    font-size: 24px;
    display: block;
    width: 100%;
}
section{
    display: flex;
    flex-wrap: wrap;
}

/*PRODUCT INCLUYE IMAGEN, PRECIO, DESCUENTO, DESCRIPCION DEL PRODUCTO E ICONO CAMION*/
.product{
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100); 
}
.product img {
    width: 100%;
}
/*PRODUCT-BOX INCLUYE PRECIO, DESCUENTO, DESCRIPCION DEL PRODUCTO E ICONO CAMION**/
.product-box{
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*ICONO CAMION*/
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    transition: all 1s;
}
main section article i:hover{
    transform: rotate(270deg);
}

.price{
    width: 30%;
    font-size: 18px;
    flex-grow: 0.3;
}
.discount {
    width: 70%;
    color: #39b54a;
    font-size: 16px ;
    flex-grow: 0.7;
}


footer{
    background-color: white;
    color: #666;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
}

/*CADA UNA DE LAS SECCIONES DEL FOOTER */
footer section{
    padding: 10px;
    font-size: 14px;
}

.footer-icon{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3;
    margin: auto;
    padding: 8px;
    transition: all 1s;
}
.footer-icon:hover{
    background-color: #1259c3;
    border-radius: 25%;
    color: white;
}
footer p{
    margin: 8px;
}
.copyright{
    text-align: left ;
    font-size: 14px;
}